@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

footer {
    background: #000000;
    font-family: "Dosis", sans-serif;
    color: #ffffff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 2rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    height: 18rem;
  }
  
  footer img {
    max-width: 110%;
    max-height: 110%;
  }
  
  footer h1 {
    font-size: 3.5rem;
  }
  
  footer div {
    margin-right: 3rem;
  }