@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500&display=swap");
* {
  padding: 0;
  margin: 0;
}

nav {
    background: #000000;
    height: 8vh;
    display: flex;
    text-align: center;
    font-family: "Dosis", sans-serif;
    align-items: center;
    justify-content: center;
  }